trigger:
  branches:
    include:
      - main
pr:
  none

pool:
  vmImage: 'ubuntu-latest'

variables:
  location: 'uksouth'
  resourceGroup: 'armbicep'

stages:
  - stage: Deploy
    jobs:
      - job: DeployBicep
        steps:
        - checkout: self

        - task: AzureCLI@2
          inputs:
            azureSubscription: 'AzureSub'
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            inlineScript: |
              echo "Installing Bicep CLI..."
              az bicep install
              echo "Validating Bicep..."
              az bicep build --file ./Infrastructure/main.bicep
              echo "Deploying Bicep to Azure..."
              az deployment group create \
                --resource-group armbicep \
                --template-file ./Infrastructure/main.bicep \
                --parameters environment='dev' location='uksouth' \
                --query "properties.outputResources[*].id"